# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages

astronomer-cosmos
dbt-postgres
openlineage-dbt
apache-airflow-providers-openlineage
apache-airflow-providers-postgres
